body{
    font-family: iransnas;
}
ons-splitter-mask {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
}
.page__background{
    background-color:#EFEFF4  ;
}
.navigation-bar{
    background-color: #1AA9A8 !important;
    
}
.navigation-bar__title{
    color:#fff;
}
a{text-decoration: none;color:#196cce}
:checked + .tab-bar__button{
    color:#1AA9A8;
}
.button{
    background-color: #1AA9A8 ;
    border-radius: 35px;
}
/*========  ========*/
.home_slider {
    height: 250px;
}
.home_slider ons-carousel-item{
    height: 250px;
}
.home_slider .item{
    position: relative;
    height: 250px;
    
}
.home_slider .item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.home_slider .item p{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    padding: 12px 10px 10px;
    background-color: rgba(0, 0, 0, 0.74);
    color:#fff;
    width: 100%;
    box-sizing: border-box;
}
.service_slider{
    height: auto;
}
.service_slider .item{
    position: relative;
    width: calc(100% - 10px);
    background-color: #fff;
    margin: 0px auto 25px !important;
    /* margin-bottom: 25px !important; */
    /* padding: 0 5px; */
}
.service_slider .item img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    display: block;
}
.service_slider .item h3{
    font-size: 16px;
    margin:10px 0 4px;
    box-sizing: border-box;
    padding: 0 10px;
}
.service_slider .item p{
    font-size: 13px;
    margin: 0px;
     box-sizing: border-box;
    padding: 0 10px 10px;
    text-align: justify;
}

/*======== blog ========*/
.blog_cat .list__item{
    padding: 0px;
}
.blog_cat .list__item__center{
    padding: 10px 10px 10px 6px;
}
.blog .list__item .thumbnail {
    display: block;
    width: 95px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-sizing: border-box;
}
.blog ons-col .date{
    font-size: 10px;
    color: #46555b;
}
.blog ons-col .name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}
.blog ons-col .cat {
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 0px;
    font-weight: 500;
    color: rgb(26, 169, 168);
}
.blog ons-col .desc {
    font-size: 11px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.80);
    
}

/*======== blog_detail ========*/
#blog_detail{}
#blog_detail .img{
    border-bottom: 1px solid #c1c1c1;

}
#blog_detail .img img{
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}
#blog_detail .text{
    
}
#blog_detail .contain{
    position: relative;
    z-index: 2;

	box-sizing: border-box;
    background-color: #EFEFF4;
	padding-top: 1px;
	padding: 15px;
}
#blog_detail .contain h3{

	font-size: 16px;
	margin: 0 0 10px 0;
	
}
#blog_detail .contain .text{
	font-size: 14px;
	text-align: justify;
}
/*======== gallery ========*/
.gallery{
	box-sizing: border-box;
}
.gallery:after{
	display: block;
	content: "";
	clear: both;
}
.gallery img{
	display: block;
	box-sizing: border-box;
	width: calc(100% / 3);
	height: calc(100vw / 3);
	object-fit: cover;
	object-position: center;
	float: right;
	padding: 1px;
}
/*======== info ========*/
.info{
    padding: 10px 10px 0;
}
.info .icon{
    font-size:40px;
    color:#1AA9A8;
}
.info .text{}
.info .text span{
    font-size: 13px;
    display: block;
}
.info ons-row {
    border-bottom: 1px solid #c9c9c9;
    padding: 10px;
    margin: 10px 0;
}
.team ons-col:first-child .card{
    margin-left: 5px;
}
.team ons-col:last-child .card{
    margin-right: 5px;
}
.team .card img{
    display: block;
    width: 100%;
    height: 150px !important;
    object-fit: cover;
    object-position: center;
    height: auto;
}
.team .card .name{
    margin: 10px 10px 5px ;
    font-weight: bold;
}
.team .card .post{
    margin: 0 10px 10px ;
    font-size: 13px;
}
.vspc {
  margin-top: 20px;
}

.formarea {
    width: 90%;
    margin: 50px auto 0px auto;
}
.form-row textarea{
    min-height: 60px;
    line-height: inherit;
}

.form-row input {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: inherit;
}
.card-footer, .card-header {
    min-height: 44px;
    position: relative;
    padding: 10px 10px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card-footer span ,.card-footer a , .card-header span , .card-header a {
    font-size: 12px;
}
.contain-gallery{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 10px );
    margin: 5px auto;
}
.contain-gallery .gallery-one{
    width: calc(50% - 10px);
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    margin: 5px ;
}
.contain-gallery .gallery-one img{
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-zoom-container img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center;
}
.gallery_info .name {
    margin: 0px;
    font-size: 15px;
}
.gallery_info .desc {
    margin: 0px;
    font-size: 13px;
}
.gallery_info {
    position: absolute;
    z-index: 21;
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 40px;
    text-align: right;
    font-family: iransans;
}
.gallery_slider .swiper-slide1 {
    width: 100% !important;
}
.swiper-zoom-container {
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: #000;
}
#dialog-3 .dialog{
    min-width: 100%;
}
#dialog-3 .swiper-container-horizontal>.swiper-pagination-bullets,#dialog-3 .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.gallery_slider .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #b5b5b5;
    opacity: .2;
}
.gallery_slider .swiper-pagination-bullet-active {
    opacity: 1;
    background: #1AA9A8;
}
#dialog-3 .navigation-bar {
    background: none !important;
    background-color: #000 !important;
}

#dialog-3 :not(ons-toolbar-button) > .ons-icon--ion {
    line-height: 0.75em;
    vertical-align: -10%;
    color: #fff;
    font-size: 27px;
    padding: 10px;
}
.loadMore{
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}
.loadMore .button {
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    line-height: 35px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0px 10px;
    margin: 0;
    height: 35px;
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
}
.mapImg img{
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
/*========  ========*/
/*========  ========*/
/*========  ========*/
/*========  ========*/


