<ons-page  > 
    <ons-toolbar>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="ion-ios-arrow-thin-right" ng-click="gallerynav.popPage()" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center"> {{ gallerynav.topPage.data.title }} </div>
    </ons-toolbar>
    <div class="main">
        <div class="gallery">
            <img  ng-repeat="(key,gallery) in galleries" ng-src="{{img+'gallery-small/'+gallery.picname}}"  ng-click="showDialog();active_swiper(key);">
        </div>
    </div>
</ons-page>

